*.pdb
*.user
# C++ objects and libs

Client/*.slo
Client/*.lo
Client/*.o
Client/*.a
Client/*.la
Client/*.lai
Client/*.so
Client/*.dll
Client/*.dylib

# Qt-es

Client/object_script.*.Release
Client/object_script.*.Debug
Client/*_plugin_import.cpp
Client//.qmake.cache
Client//.qmake.stash
Client/*.pro.user
Client/*.pro.user.*
Client/*.qbs.user
Client/*.qbs.user.*
Client/*.moc
Client/moc_*.cpp
Client/moc_*.h
Client/qrc_*.cpp
Client/ui_*.h
Client/Makefile*
Client/*build*

# Qt unit tests
Client/target_wrapper.*


# QtCreator

Client/*.autosave

# QtCtreator Qml
Client/*.qmlproject.user
Client/*.qmlproject.user.*

# QtCtreator CMake
Client/CMakeLists.txt.user*

# Protobuf
Client/*.pb.*


# C++ objects and libs

Medusa/*.slo
Medusa/*.lo
Medusa/*.o
Medusa/*.a
Medusa/*.la
Medusa/*.lai
Medusa/*.so
Medusa/*.dll
Medusa/*.dylib

# Qt-es

Medusa/object_script.*.Release
Medusa/object_script.*.Debug
Medusa/*_plugin_import.cpp
Medusa//.qmake.cache
Medusa//.qmake.stash
Medusa/*.pro.user
Medusa/*.pro.user.*
Medusa/*.qbs.user
Medusa/*.qbs.user.*
Medusa/*.moc
Medusa/moc_*.cpp
Medusa/moc_*.h
Medusa/qrc_*.cpp
Medusa/ui_*.h
Medusa/Makefile*
Medusa/*build*

# Qt unit tests
Medusa/target_wrapper.*


# QtCreator

Medusa/*.autosave

# QtCtreator Qml
Medusa/*.qmlproject.user
Medusa/*.qmlproject.user.*

# QtCtreator CMake
Medusa/CMakeLists.txt.user*

# Protobuf
Medusa/*.pb.*
Medusa/*_pb2.py
Medusa/src/LuaModule/lua_zeus.cpp
Medusa/share/proto/cpp/




ZBin/Qt*
ZBin/*.dll
ZBin/*.exe
ZBin/*.ini
ZBin/*.txt
ZBin/*.label*

ZBin/3rdParty/*
ZBin/LOG/*.log
ZBin/Client.exp
ZBin/Client.lib
ZBin/Client
ZBin/Medusa
ZBin/MedusaD
ZBin/grsim
ZBin/Crazy
ZBin/Client
ZBin/Crazy2018
ZBin/ballSpeedLog.txt
ZBin/core
# python
ZBin/__pycache__
ZBin/*.py[cod]
ZBin/*$py.class

build*/

grSim/
Crazy/
Autoref/
Client/lib

zeus_deps_check
git_stats

3rdParty